<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
body {
	background: url(BootStrap/resources/images/WorldLink.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 Y;
}

.floating-box {
	float: center;
	width: 800px;
	height: 400px;
	margin: 200px 400px;
	border: 2px solid gainsboro;
	opacity: 0.7;
	font-size: 20px;
}
</style>
</head>
<body>
	<div class="floating-box">
		<p>WorldLink.com is a Social Media Collaboration platform
			developed and maintained by Santosh Shenoy.</p>
	</div>
</body>
</html>