<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>List of Blogs</title>
<style>
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 10%;
	margin: 100px 500px;
	background-color: lavender;
}

th {
	text-align: center;
	border: 1px solid black;
	color: lawngreen;
	font-size: 30px;
	font-weight: 900;
}

td {
	text-align: center;
	border: 1px solid black;
	color: navy;
	font-weight: bold;
}

h1 {
	margin: 130px 500px;
	font-size: 60px;
	color: white;
}
</style>
</head>
<body>
	<h1>
		<b><u>List of Blogs</u></b>
	</h1>
	<table>
		<tr>
			<th>Blog ID</th>
			<th>Blog Name</th>
			<th>Blog Description</th>
			<th>User ID</th>
			<th>Status</th>
			<th>Blog Date</th>
		</tr>
		<tr ng-repeat="b in blogs">
			<td>{{b.id}}</td>
			<td>{{b.name}}</td>
			<td>{{b.description}}</td>
			<td>{{b.u_id}}</td>
			<td>{{b.status}}</td>
			<td>{{b.date2}}</td>
		</tr>
	</table>
</body>
</html>