<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Blog!</title>
<style>
input[type=button] {
	background-color: green;
	color: white;
	padding: 14px 70px;
	display: block;
	margin: left;
	text-align: center;
	border: none;
	cursor: pointer;
	width: 20%;
}

input[type=text] {
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	width: 35%;
}

input[type=date] {
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	width: 20%;
}
</style>
</head>
<body>
	<form>
		<input type="text" ng-model="blog.id" placeholder="Enter Blog ID"
			required> <br> <input type="text" ng-model="blog.name"
			placeholder="Enter Name" required> <br> <input
			type="text" ng-model="blog.description"
			placeholder="Enter Description" required> <br> <input
			type="text" ng-model="blog.u_id" placeholder="Enter User ID" required>
		<br> <input type="text" ng-model="blog.status"
			placeholder="Enter Blog Status" required> <br> <input
			type="date" ng-model="blog.b_date" required> <br> <input
			type="button" ng-click="registerBlog()" value="Register"
			class="btn btn-success" title="Click to Register Blog">
	</form>
</body>
</html>