<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>List of Events</title>
<style>
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 10%;
	margin: 100px 500px;
	background-color: lavender;
}

th {
	text-align: center;
	border: 1px solid black;
	color: lawngreen;
	font-size: 30px;
	font-weight: 900;
}

td {
	text-align: center;
	border: 1px solid black;
	color: navy;
	font-weight: bold;
}

h1 {
	margin: 130px 500px;
	font-size: 60px;
	color: white;
}
</style>
</head>
<body>
	<h1>
		<b><u>List of Events</u></b>
	</h1>
	<table>
		<tr>
			<th>Event ID</th>
			<th>Event Name</th>
			<th>Event Description</th>
			<th>Event Venue</th>
			<th>Event Date</th>
		</tr>
		<tr ng-repeat="e in events">
			<td>{{e.id}}</td>
			<td>{{e.name}}</td>
			<td>{{e.description}}</td>
			<td>{{e.venue}}</td>
			<td>{{e.date4}}</td>
		</tr>
	</table>
</body>
</html>