<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>List of Events</title>
<style>
table {
	border-collapse: collapse;
}

td, th {
	text-align: center;
	border: 1px solid black;
}
</style>
</head>
<body>
	<h1>List of Events</h1>
	<table>
		<tr>
			<th>Event ID</th>
			<th>Event Name</th>
			<th>Event Description</th>
			<th>Event Venue</th>
			<th>Event Date</th>
		</tr>
		<tr ng-repeat="e in events">
			<td>{{e.id}}</td>
			<td>{{e.name}}</td>
			<td>{{e.description}}</td>
			<td>{{e.venue}}</td>
			<td>{{e.date4}}</td>
		</tr>
	</table>
</body>
</html>