<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div align="center">
		<form method="post"
			action="http://localhost:8083/CollaborationRestController/doUpload"
			enctype="multipart/form-data">
			<table border="0">
				<tr>
					<td>Profile Pic:</td>
					<td><input type="file" name="uploadFile" /></td>
				</tr>

				<tr>
					<td colspan="2" align="center"><input type="submit"
						value="Upload" /></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>