<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Forum!</title>
<style>
input[type=button] {
	background-color: green;
	color: white;
	padding: 14px 70px;
	display: block;
	margin: left;
	text-align: center;
	border: none;
	cursor: pointer;
	width: 20%;
}

input[type=text] {
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	width: 35%;
}

input[type=date] {
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	width: 20%;
}
</style>
</head>
<body>
	<form>
		<input type="text" ng-model="forum.id" placeholder="Enter Forum ID"
			required> <br> <input type="text" ng-model="forum.name"
			placeholder="Enter Forum Name" required> <br> <input
			type="text" ng-model="forum.description"
			placeholder="Enter Description" required> <br> <input
			type="text" ng-model="forum.u_id" placeholder="Enter User ID"
			required> <br> <input type="text"
			ng-model="forum.status" placeholder="Enter Forum Status" required>
		<br> <input type="date" ng-model="forum.f_date" required>
		<br> <input type="button" ng-click="registerForum()"
			value="Register" title="Click to Register Forum">
	</form>
</body>
</html>