<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Forum!</title>
</head>
<body>
	<form>
		<input type="text" ng-model="forum.id" placeholder="Enter Forum ID"
			required> <br> <input type="text" ng-model="forum.name"
			placeholder="Enter Name" required> <br> <input
			type="text" ng-model="forum.description"
			placeholder="Enter Description" required> <br> <input
			type="text" ng-model="forum.u_id" placeholder="Enter User ID"
			required> <input type="text" ng-model="forum.status"
			placeholder="Enter Forum Status" required> <br> <input
			type="text" ng-model="forum.f_date" placeholder="Enter Forum Date"
			required> <br> <input type="button"
			ng-click="registerForum()" value="Register"
			title="Click to Register Forum">
	</form>
</body>
</html>