<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>List of Forum</h1>
	<table>
		<tr>
			<th>Forum ID</th>
			<th>Forum Name</th>
			<th>Forum Description</th>
			<th>User ID</th>
			<th>Status</th>
			<th>Forum Date</th>
		</tr>
		<tr ng-repeat="f in forums">
			<td>{{f.id}}</td>
			<td>{{f.name}}</td>
			<td>{{f.description}}</td>
			<td>{{f.u_id}}</td>
			<td>{{f.status}}</td>
			<td>{{f.f_date}}</td>
		</tr>
	</table>
</body>
</html>