<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>List of Friends</title>
<style>
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 10%;
	margin: 100px 500px;
	background-color: lavender;
}

th {
	text-align: center;
	border: 1px solid black;
	color: lawngreen;
	font-size: 30px;
	font-weight: 900;
}

td {
	text-align: center;
	border: 1px solid black;
	color: navy;
	font-weight: bold;
}

h1 {
	margin: 130px 500px;
	font-size: 60px;
	color: white;
}
</style>
</head>
<body>
	<h1>
		<b><u>Your Friends</u></b>
	</h1>
	<table>
		<tr>
			<th>Friend ID</th>
		</tr>
		<tr ng-repeat="f in friends">
			<td>{{f}}</td>
			<td><a href="#/chat" ng-click="" class="btn btn-primary">chat</a></td>
		</tr>
	</table>
</body>
</html>