<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>List of Jobs</title>
<style>
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 10%;
	margin: 100px 500px;
	background-color: lavender;
}

th {
	text-align: center;
	border: 1px solid black;
	color: lawngreen;
	font-size: 30px;
	font-weight: 900;
}

td {
	text-align: center;
	border: 1px solid black;
	color: navy;
	font-weight: bold;
}

h1 {
	margin: 130px 500px;
	font-size: 60px;
	color: white;
}
</style>
</head>
<body>
	<h1>
		<b><u>List of Jobs</u></b>
	</h1>
	<table>
		<tr>
			<th>Job ID</th>
			<th>Job Title</th>
			<th>User ID</th>
			<th>Job Description</th>
			<th>Job Date</th>
			<th>Job Qualification</th>
			<th>Job Status</th>
		</tr>
		<tr ng-repeat="j in jobs">
			<td>{{j.id}}</td>
			<td>{{j.title}}</td>
			<td>{{j.u_id}}</td>
			<td>{{j.description}}</td>
			<td>{{j.date1}}</td>
			<td>{{j.qualification}}</td>
			<td>{{j.status}}</td>
		</tr>
	</table>
</body>
</html>