<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Register Here!</title>
<style>
input[type=button] {
	background-color: green;
	color: white;
	padding: 14px 70px;
	display: block;
	margin: left;
	text-align: center;
	border: none;
	cursor: pointer;
	width: 20%;
}

input[type=text], [type=password] {
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	width: 35%;
}

input[type=date] {
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	width: 20%;
}
</style>
</head>
<body>
	<div>
		<form>
			<input type="text" ng-model="user.id" placeholder="Enter Username"
				required="true"> <br> <input type="text"
				ng-model="user.nam" placeholder="Enter Full Name" required="true">
			<br> <input type="password" ng-model="user.psswrd"
				placeholder="Enter Password" required="true"> <br> <input
				type="text" ng-model="user.mail" placeholder="Enter Email Address"
				required="true"> <br> <input type="date"
				ng-model="user.dob" placeholder="Enter Date of Birth"
				required="true"> <br> <input type="text"
				ng-model="user.mobile" placeholder="Enter Mobile Number"
				required="true"> <br> <input type="text"
				ng-model="user.gender" placeholder="Enter Gender" required="true">
			<br> <input type="text" ng-model="user.address"
				placeholder="Enter Residential Address" required="true"> <br>
			<input type="button" ng-click="registerUser()" value="Register"
				title="Click to Register" class="btn btn-success">
	</div>
	</form>
</body>
</html>